.teste {
	display: flex;
    transition: all .5s;
    background: linear-gradient(to bottom, white, black);
}

.teste2 {
	color: blue;
	user-select: none;
	transition: all .5s;
}

.home-container {
	.button {
		color: red;
	}
}