.teste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: all .5s;
  background: linear-gradient(to bottom, white, black); }

.teste2 {
  color: blue;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all .5s; }
.testeLogin {
  color: grey; }

.testeLogin2 {
  color: purple; }

.xao-container {
  color: blue; }

body {
  background-color: grey; }
.user-container {
  color: red; }
